<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Nagy_Maria_prob12 (1)/prob12/src/console/Demo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="console.Demo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Nagy_Maria_prob12 (1)"/>
</launchConfiguration>
